vim/.netrwhist
config/Autodesk
config/iterm2
config/direnv
config/configstore
config/stripe
config/xbuild
config/htop
vim/.VimballRecord
config/github-copilot
config/jgit
config/shadowenv
config/strongdmid
config/zed
dump.rdb
vimLog.txt
